* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: #1e1e2f;
    padding: 15px 0;
}

nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00adb5;
}

.home {
    height: 100vh;
    background: linear-gradient(to right, #1cc88a, #4e73df);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.home-content h1 {
    font-size: 48px;
}

.home-content h2 {
    margin: 10px 0;
    font-size: 28px;
}

.home-content p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    padding: 10px 20px;
    background: white;
    color: #1e1e2f;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #1e1e2f;
    color: white;
}

.section {
    padding: 60px 10%;
    text-align: center;
}

.light {
    background: #f4f6f9;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.skills-container {
    margin-top: 20px;
}


.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .card {
        width: 90%;
    }
}

.education-bg {
    background-color: #f0fff4;   
}

.prjct-bg {
    background-color: #eef2ff;  
}

/* Profile Photo */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid white;
}